body{
    background-color: grey;
}
.accardion{
    margin-top: 10%;
    max-width: 1000px;
    
}
.box-one{
    
    margin: 0;
}
.title-box{
    background-color: darkgrey;
    color: rgb(58, 79, 22);
    cursor: pointer;
    
    
}